---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Mark Di Marco <a href="https://github.com/markmarkoh/blog">This blog is open source (thanks @cassidoo)</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
