---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Mark Di Marco <a style="display:none;" href="https://github.com/cassidoo/blahg">This blog is open source</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
