---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>{SITE_DESCRIPTION}</h2>
		</div>
    <div class="img-frame">
      <img id="profile" src="face.png" alt="my-face" />
    </div>
	</div>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
  <HeaderLink href="https://github.com/markmarkoh" target="_blank">github</HeaderLink>
  <HeaderLink href="https://www.linkedin.com/in/markdimarco" target="_blank">linkedin</HeaderLink>
  <HeaderLink href="https://commithistory.substack.com" target="_blank">substack</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
